body {
    font-family: sans-serif;
    color: snow;
    background: #5658d0;
}

main {
    display: grid;
    place-items: center;
    text-align: center;
    align-content: center;
}

.calculator {
    border-radius: 10px;
    width: 80%;
    background-color: #b9cef8;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    margin-inline-start: auto;
    margin-inline-end: auto;
    margin-block-start: 2em;
    max-inline-size: 22rem;
    overflow: hidden;
    color: hsl(202, 11%, 29%);
    padding: 10px;
}